version: "3.9"

services:
  minio:
    image: minio/minio
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin123
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

  dagster:
    build: .
    container_name: dagster_local
    depends_on:
      - minio
    ports:
      - "3000:3000"
    environment:
      DAGSTER_HOME: /opt/dagster/dagster_home
      MINIO_ENDPOINT: minio:9000
      MINIO_ACCESS_KEY: admin
      MINIO_SECRET_KEY: admin123
    working_dir: /app
    volumes:
      - ./:/app
      - ./dagster_home:/opt/dagster/dagster_home
    command:
      [
        "dagster-webserver",
        "-h", "0.0.0.0",
        "-p", "3000",
        "-f", "/app/dagster_project/definitions.py"
      ]

volumes:
  minio_data:
